include datmo/core/controller/environment/driver/templates/baseDockerfile
include datmo/core/controller/environment/driver/templates/python2Dockerfile
include datmo/core/controller/environment/driver/templates/python3Dockerfile
include datmo/core/util/validation/schemas.yml
include datmo/core/controller/environment/driver/config/docker.json
include datmo/VERSION
graft datmo/dashboard
prune examples
prune docs
prune templates